/* Grundstil für die Navigation */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f3f5;
    color: #282d37;
}

/* Stil für die Menüleiste */
.navbar {
    list-style-type: none;  /* Entfernt die Standard-Aufzählungspunkte */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e61212; /* Hintergrundfarbe der Leiste */
}

/* Stil für jedes Listenelement */
.navbar li {
    float: left; /* Elemente horizontal ausrichten */
}

/* Stil für die Links in der Menüleiste */
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px; /* Abstand innerhalb des Elements */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

/* Stil für Hover-Effekt */
.navbar li a:hover {
    background-color: #bbbbbb;
    color:#282d37;
}

/* Grundlegende Stile für die Tabelle */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Stile für Tabellenzellen */
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Alternierende Zeilenfarben */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover-Effekt für Tabellenzeilen */
tbody tr:hover {
    background-color: #e0e0e0;
}

/* Stile für den Tabellenrand */
table, th, td {
    border: 1px solid #ddd;
}

